<nav class="navbar navbar-expand-lg navbar-light bg-light header">
  <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
    <a class="navbar-brand" routerLink="/">
      <img src="../../../../assets/statics/logos/logo_baobab.png" width="30" height="30"
           class="d-inline-block align-top" alt="">
      Baobab
    </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">{{'shared.header.link_home' | translate}} <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
          aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
