<nav class="navbar navbar-expand-lg navbar-light bg-light header">
  <a class="navbar-brand" routerLink="/">
    <img
      src="../../../../assets/statics/logos/logo_baobab.png"
      width="30" height="30"
      class="d-inline-block align-top" alt="baobab_logo">
    <b class="pl-2 text-color-principal">Baobab 
      <span style="background-color: red; color:white">Beta</span>
    </b>
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-baobab link-primary"
           routerLink="/" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact:true}">
          {{'shared.header.link_home' | translate}} <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-baobab link-primary" routerLink="/contact">Contact</a>
      </li>
    </ul>
     <div class="my-2 my-lg-0 d-none">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['login']">{{'shared.header.link_login' | translate}}</a>
        </li>
      </ul>
    </div>
  </div>
  <button class="btn btn-link" type="button">
    <a href="https://github.com/Baobab-team" target="_blank">
    <span style="font-size: 2em; color: #e07c57;">
      <i class="fab fa-github"></i>
    </span>
    </a>
  </button>
  <button
    class="navbar-toggler" type="button"
    data-toggle="collapse" data-target="#navbarToggleExternalContent"
    aria-controls="navbarToggleExternalContent" aria-expanded="false"
    aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
</nav>
