<div class="search w-100">
  <div class="search__body">
    <form class="form-inline search__body__form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div *ngIf="optionsFields" class="form-group w-25">
          <select
            *ngIf="(categoriesLoading$ | async)"
            formControlName="category"
            class="mr-3 input-focus baobab-input search__body__form__select-category">
            <option selected>Categorie</option>
            <option *ngFor="let category of (categories$ | async)" [ngValue]="category">
              {{category.name | lowercase}}
            </option>
          </select>
        </div>
        <div class="form-group" [class.w-100]="!optionsFields" [class.w-75]="optionsFields">
            <div class="input-group w-100">
                <input type="text" class="input-focus search__body__form__input baobab-input"
                       [class.background-result]="optionsFields"
                       placeholder="{{'shared.tool-search.form_label_search' | translate}}"
                       formControlName="querySearch"
                       [ngbTypeahead]="searchAutocomplete"
                       [resultTemplate]="rt" #querySearch>
                <div class="input-group-append">
                    <button
                      [disabled]="!searchForm.valid"
                      [class.background-result]="optionsFields"
                      class="btn btn-light" type="submit">
                      <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <ng-template #rt let-r="result" let-t="term">
                <ngb-highlight (click)="onSubmit()" [result]="r" [term]="t"></ngb-highlight>
            </ng-template>
        </div>
    </form>
  </div>
</div>
