<div class="search">

  <div class="search__form">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <div class="form-row align-items-center">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control"
                 placeholder="{{'shared.tool-search.form_label_search' | translate}}"
                 formControlName="searchbar">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit" id="search">
              {{'shared.tool-search.form_btn_search' | translate}}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
