@import "~assets/sass/variables";

.search {
  &__body {
    &__form {
      .baobab-input {
        border: 1px solid $clrOrange1;
        padding: 0 10px;
        height: 50px;
      }
      .input-focus {
        outline: 0px;
        -webkit-appearance: none;
        border: 1px solid $clrOrange2;
      }
      .dropdown-menu {
        width: 90%;
      }
      .dropdown-item{
        color: #000;
        text-decoration: none;
        border: none;
      }
      .dropdown-item.active,
      .dropdown-item:active {
        color: #000;
        text-decoration: none;
        background-color: var(--light);
        border: none;
        border-radius: 0 !important;
      }
      &__select-category {
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        height: 50px;
        width: 100%;
        background-color: #c77456;
        color: var(--white);
      }

      &__input {
        border-right: none;
        border-radius: 25px 0 0 25px;
        width: 90%;
      }

      &__select-category:focus {
        box-shadow: 8px 8px 12px 0 rgba(225, 124, 85, 0.16);
      }
      &__input:focus {
        border-right: none;
        box-shadow: 8px 8px 12px 0 rgba(225, 124, 85, 0.16);
      }

      button {
        background-color: var(--white);
        color: $clrOrange1;
        border: 1px solid $clrOrange1;
        border-left: none;
        border-radius: 0 25px 25px 0 !important;
      }

      button:hover {
        background-color: var(--white);
        color: $clrOrange1;
        border: 1px solid $clrOrange2;
        border-left: none;
      }
    }
  }
}
