.search {
    &__form {
        &__input:focus {
            outline: 0px !important;
            -webkit-appearance: none;
            box-shadow: none !important;
        }
        .dropdown-menu {
            width: 88%;
        }
        .dropdown-item.active,
        .dropdown-item:active {
            color: #000;
            text-decoration: none;
            background-color: #eaeaea;
        }
    }
}
