<div class="suggestion">
    <div class="d-flex justify-content-center">
        <form [formGroup]="bsf" (ngSubmit)="onSubmit()" class="suggestion__form ">
            <h3 class="text-center">{{'business-suggestion.title' | translate}}</h3>
            <div class="row" >
                <div class="col-md-6" formGroupName="business">
                    <h5>{{ 'informations' | translate }}</h5>
                    <div class="form-group">
                        <select
                            formControlName="category"
                            class="form-control">
                            <option selected>Categories</option>
                            <option *ngFor="let category of (categories$ | async)" [ngValue]="category" >
                            {{category.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group" >
                        <input type="text" 
                            class="form-control"
                            formControlName="name" 
                            id="name"
                            placeholder="{{ 'name' | translate }}"
                        />
                        <!-- <app-field-error-display [field]="bsf.controls.business.controls.name"></app-field-error-display> -->
                    </div>  
                    <div class="form-group">
                        <input type="email" 
                            class="form-control"
                            formControlName="email"
                            placeholder="{{ 'email' | translate }}"
                        />
                    </div>
                    <div class="form-group">
                        <input 
                            type="text" 
                            class="form-control"
                            formControlName="website"
                            placeholder="{{ 'website' | translate }}"/>
                    </div>
                    <div class="form-group">
                        <textarea 
                            formControlName="description"
                            placeholder="{{ 'description' | translate }}"
                            class="form-control"
                            rows="3"
                        ></textarea>
                    </div>      
                    <div class="form-group">
                        <button class="btn btn-primary btn-sm" type="button" (click)="addPhone()">
                            {{'suggestion.form.button.add_phone' | translate}}
                            <i class="fa fa-phone"></i>
                        </button><br/>
                    </div> 
                    <div [formGroup]="phone" *ngFor="let phone of bsf.controls.business.controls.phones.controls; index as i"> 
                        <div class="form-group">
                            <input 
                            type="text" 
                            class="form-control" 
                            formControlName="number" 
                            placeholder="{{ 'suggestion.form.phone.exemple' | translate }}">
                        </div>
                        <div class="form-group">
                            <input 
                            type="text" 
                            class="form-control" 
                            formControlName="extension" 
                            placeholder="{{ 'extension' | translate }}">
                        </div>
                      
                    </div>             
                </div>

                <div class="col-md-6" formGroupName="address">
                    <h5>{{ 'address.address' | translate }}</h5>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                        <input 
                            type="text" 
                            class="form-control" 
                            formControlName="street_number"
                            placeholder="{{ 'address.street_number' | translate }}"
                        >
                        </div>
                        <div class="form-group col-md-3">
                        <input 
                            type="text" 
                            class="form-control" 
                            formControlName="app_office_number"
                            placeholder="{{ 'address.appartment' | translate }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <input 
                            type="text" 
                            class="form-control"
                            formControlName="street_name" 
                            placeholder="{{ 'address.street_name' | translate }}"
                        >
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input 
                                type="text" 
                                class="form-control" 
                                formControlName="city"
                                placeholder="{{ 'address.city' | translate }}">
                        </div>
                        <div class="form-group col-md-6">
                            <input 
                                type="text" 
                                class="form-control"
                                formControlName="zip_code" 
                                placeholder="{{ 'address.zip_code' | translate }}">
                        </div>
                        <div class="form-group">
                            <input 
                                type="text" 
                                class="form-control" 
                                formControlName="country"
                                placeholder="{{ 'address.country' | translate }}">
                        </div>
                    </div>
                </div>
            </div>               
    
            <hr>

            <h3>{{ 'business-suggestion.suggester_title' | translate}}</h3>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input 
                        type="text" 
                        class="form-control" 
                        formControlName="name" 
                        placeholder="{{ 'name' | translate }}"
                    >
                </div>
                <div class="form-group col-md-6">
                    <input 
                        type="text" 
                        class="form-control" 
                        formControlName="email" 
                        placeholder="{{ 'email' | translate}}"
                    >
                </div>
            </div>

            <button class="btn btn-primary" type="submit">{{'submit' | translate}}</button>
            <pre>{{bsf.value | json }}</pre> 
            <pre>{{suggestion | json }}</pre> 
        </form>

    </div>
</div>