<div class="results">
  <div class="d-flex justify-content-center mb-5 results__header">
    <div class="w-50">
      <app-tool-search
        [optionsFields]="true"
        (onSearch)="onSubmit($event)"
      ></app-tool-search>
    </div>
  </div>

  <div class="container search__results" *ngIf="(businessesloading$ | async) === false">
    <div *ngIf="(businesses$ | async) as businesses">
      <ul class="list-group list-group-flush" *ngIf="businesses.length; else noResult">
        <li class="list-group-item" *ngFor="let business of businesses" (click)="selectBusiness(business)">
          <app-result-item [business]="business"></app-result-item>
        </li>
      </ul>
      <ng-template #noResult>
          <h1 class="text-center">{{'search.no_result' | translate}}</h1>
      </ng-template>
    </div>
  </div>
</div>
<app-loading [isLoading]="(businessesloading$ | async)"></app-loading>
