<div class="table-responsive">
  <table datatable [dtOptions]="dtOptions"
         class="table table-striped table-bordered table-hover row-border">
    <thead class="thead-dark">
    <tr>
      <th *ngFor="let column of headerElements" scope="col">{{column}}</th>
    </tr>
    </thead>
    <tbody *ngIf="elements?.length > 0">
      <tr *ngFor="let element of elements">
        <td *ngFor="let data of element">{{ data }}</td>
      </tr>
    </tbody>
    <tbody *ngIf="elements?.length <= 0">
      <tr>
        <td colspan="5" class="no-data-available">pas de donnees</td>
      </tr>
    <tbody>
  </table>
</div>
