<div class="row full-height">
  <div class="col-md">
    <div class="login">
      <div class="login__box">
        <h1>{{'auth.login.page_title_login' | translate}}</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="{{'auth.login.form_label_email' | translate}}"
                     [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">{{'auth.login.form_error_email_required' | translate}}</div>
              </div>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="{{'auth.login.form_label_password' | translate}}"
                     [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">{{'auth.login.form_error_password_required' | translate}}</div>
              </div>
            </div>
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">{{'auth.login.btn_submit_send' | translate}}</button>
            </div>
          </div>
        </form>
      </div>
      <ul>
        <li><a [routerLink]="['/']">{{'auth.login.link_home' | translate}}</a></li>
        <li><a [routerLink]="['/register']">{{'auth.login.link_register' | translate}}</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md"></div>
</div>
