<div class="search">
  <div class="container" >
    <div class="">
      <div class="search__tool-search mt-3">
        <app-tool-search
          [bigForm]="false"
          [optionsFields]="true"
          (onSearch)="getResulForm($event)"
          class="header__search__component"
        ></app-tool-search>
      </div>
    </div>
  </div>
  <hr>
  <div class="container search__results">
    <ul>
      <li *ngFor="let business of businesses$ | async">
        <div class="search__results__group">
          <div href="#" class="search__results__group__title">
            <h4>
              <a href="#">{{business.name}}</a>
            </h4>
          </div>
          <div class="search__results__group__body">
            <p>{{business.description}}</p>
          </div>
          <div class="search__results__group__footer">
            {{business.createdAt}}
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>


