/*****
Please use this file to style all basic item like link (a),
paragraph (p) or list (ul, ol)
*****/
@import "variables";

.app-container{
  display:flex;
  min-height:85vh;
  flex-direction:column;
  margin:0;
}

.text-color-principal {
  color: $clrOrange1;
}

.link-primary{
  color: $clrOrange1;
}
.link-primary:hover{
  color: var(--dark);
}

.background-primary {
  background-color: $clrOrange1;
}
